<app-nav></app-nav>
<section class="form">
    <div class="form-controls controls">

    <form action="" method="post">
        <h1>SignUp</h1>
        <div class="form-control">
            <label for="">Username</label><br>
            <input type="text" name="name" [(ngModel)] = 'user.username'>
        </div>
        <div class="form-control">
            <label for="">Email</label><br>
            <input type="email" name="Email" [(ngModel)] = 'user.email'>
        </div>
        <div class="form-control">
            <label for="">Password</label><br>
            <input type="password" name="Password" [(ngModel)] = 'user.password'>
        </div>
        <div class="button">
            <div class="button-container">
                <div class="two">
                    <button class="btn"><a routerLink="/signIn">Back</a></button>
                   </div>
            <div class="one">
            <button class="btn" (click)="toggle()">Submit</button>
            </div>
            
        </div>
        </div>
    </form>
    </div>
</section>
