<section class="editTsk">
    <form action="" method="post">
        <div class="formControl">
            <label for="">Name:</label><br>
            <input type="text" name="projectName">
        </div>
        <div class="formControl">
            <label for="">Status:</label><br>
            <input type="text">
        </div>
        <div class="formControl">
            <label for="">Difficulty:</label><br>
            <input type="text">
        </div>
        <div class="formControl">
            <label for="">Level:</label><br>
            <input type="text">
        </div>
        <div class="formControl">
            <label for="">TaskId:</label><br>
            <input type="text">
        </div>
        <div class="formControl">
            <label for="">StartDate:</label><br>
            <input type="text">
        </div>
        <div class="formControl">
            <label for="">DueDate:</label><br>
            <input type="text">
        </div>

        <div class="button">
            <button class="back">Back

            </button>
            <button class="save">
             Save changes
            </button>
        </div>
    </form>
</section>
