h1{
    text-align: center;
}
button{
    padding: 8px;
    background: rgb(1, 51, 1);


    a{
        text-decoration: none;
        color: white;
    }
}

table,th, td{
    border: 1px solid black;

}
table{
    margin: 10px auto;
}
button{
    margin-left: 10px;
}